* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.content {
    width: 100%;
    padding: 0 15px;
    max-width: 1170px;
    margin: 0 auto;
}

/* -------------------
        Header
----------------------*/

.navbar {
    background: #3d4148;
    font-family: 'Raleway', sans-serif;
    z-index: 1111;
}

nav {
    height: 90px;
    width: 100%;
    font-weight: 300;
}

.logo {
    width: 100%;
    color: #fff;
    font-size: 32px;
    font-weight: 300;
}

.logo .fa-folder {
    color: #ef402a;
    font-size: 36px;
}

.logo .fa-inverse {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
}

.logo span.logo-title {
    line-height: 90px;
}

nav ul {
    float: right;
    height: 90px;
}

nav ul li {
    display: inline-block;
    line-height: 90px;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a:hover,
nav ul li a.active {
    border-bottom: 1px solid #ef402a;
}

.checkbtn {
    font-size: 32px;
    line-height: 90px;
    color: #fff;
    float: right;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/*--------------------
        Banner
----------------------*/

.featured-banner {
    font-family: 'Raleway';
}

.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 220px 0;
    width: 100%;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.banner-1,
.banner-2,
.banner-3 {
    background: url(../images/pngs/banner-frame.png);
}

.banner-heading h1 {
    font-size: 70px;
    color: #fafafa;
    font-weight: 600;
}

.banner-line {
    margin: 10px 0;
    width: 210px;
}

.banner-info p {
    font-size: 50px;
    font-weight: 300;
    color: #fafafa;
    max-width: 910px;
}

.banner-btn .explore,
.banner-btn .learn-more {
    padding: 15px 30px;
    color: #fafafa;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
}

.banner-btn .explore {
    background: #ff3c1f;
    border: 1px solid #ff3c1f;
    margin-right: 20px;
}

.banner-btn .learn-more {
    border: 1px solid #fafafa;
    background: #3d4148;
}

.banner-carousel.owl-carousel.owl-loaded {
    display: flex;
}

.banner-carousel .owl-nav,
.banner-carousel .owl-dots {
    display: inline-block !important;
}

.banner-carousel .owl-prev,
.banner-carousel .owl-next {
    color: #656d78 !important;
    font-size: 80px !important;
    position: absolute;
    top: 300px;
}

.banner-carousel .owl-prev {
    left: 10px;
}

.banner-carousel .owl-next {
    right: 40px;
}

.banner-carousel .owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 60px;
}

.banner-carousel .owl-dots .owl-dot {
    width: 20px !important;
    height: 20px !important;
    background: none !important;
    border: 2px solid #fff;
    margin: 0 10px;
    box-sizing: border-box;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.banner-carousel .owl-dots .active {
    background: #fff !important;
}


/* --------------------
        AboutUs
-----------------------*/

.aboutus {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background: url(../images/pngs/abtusbg.png);
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    /* height: 700px; */
    top: -30px;
    z-index: 1111;
}

.aboutus .inner-width {
    padding: 107px 0;
}

.aboutus-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.aboutus-title {
    font-size: 45px;
    color: #272d32;
    font-weight: 500;
}

.aboutus .border {
    max-width: 200px;
    margin: 10px 0;
    position: relative;
    background: linear-gradient(to right, #ef402a, #4e5860);
    padding: 1px;
    z-index: -1;
}

.aboutus .aboutus-text {
    font-size: 18px;
    margin: 20px 0;
    color: #4e5860;
}

.aboutus-desc {
    width: 20%;
    padding-right: 10px;
    padding-bottom: 0;
}

.aboutus-desc p {
    font-size: 30px;
    color: #4e5860;
}

.aboutus-desc button {
    background: #ef402a;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 9px;
    border: none;
    margin-top: 5px;
    font-family: 'Raleway';
}

.aboutus-services {
    width: 80%;
    display: flex;
    justify-content: center;
}

.aboutus-service-box {
    width: 270px;
    height: 270px;
    margin: 0 10px;
    background: url(../images/pngs/abtus-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}

.aboutus .service-heading {
    display: flex;
    flex-wrap: wrap;
}

.service-heading {
    margin-top: 10px;
}

.service-heading .service-icon {
    font-size: 35px;
    font-weight: 200;
    margin-left: 5px;
    margin-right: 10px;
    color: #4e5860;
}

.service-heading .service-title h1 {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    padding: 5px;
    text-transform: uppercase;
    margin-top: 10px;
}

.aboutus .service-desc p {
    font-size: 14px;
    color: #4e5860;
    padding: 5px;
    line-height: 1.5em;
}


/* --------------------
        Paralax
-----------------------*/

.paralax {
    background: #d14b3a;
    color: #fff;
    text-align: center;
    padding: 80px 0;
    position: relative;
    top: -60px;
    z-index: 1;
}

.paralax .paralax-title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 45px;
}

.paralax .border {
    max-width: 150px;
    height: 1px;
    margin: 30px auto;
    background: #fff;
}

.paralax .paralax-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 50px;
}

.paralax .paralax-quote {
    font-family: 'Open Sans', sans-serif;
    max-width: 880px;
    font-style: italic;
    font-weight: 300;
    margin: 0 auto;
}

.paralax-quote .quote {
    font-size: 30px;
    margin-bottom: 10px;
}

.paralax-quote .writer {
    text-align: left;
}

/*---------------------------
        State Excerpt
-----------------------------*/

.state-excerpts {
    background: #656d7a;
    font-family: 'Raleway';
    position: relative;
    top: -60px;
}

.state-excerpts .inner-width {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.state-excerpt {
    width: 25%;
    color: #fff;
}

.state-count {
    display: flex;
    width: 100%;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 5px;
}

.state-count h3 {
    font-size: 40px;
    font-weight: 400;
    padding-left: 10px;
}

.state-text h2 {
    font-size: 25px;
    font-weight: 300;
}


/*---------------------
        Blog
-----------------------*/

.blog-posts {
    text-align: center;
    margin: 20px 0;
    font-family: 'Raleway';
}

.blog-posts-title {
    font-size: 45px;
    color: #272d32;
    font-weight: 600;
}

.blog-posts .border {
    max-width: 150px;
    margin: 20px auto;
    position: relative;
    background: linear-gradient(to right, #ef402a, #4e5860);
    padding: 1px;
}

.blog-posts .blog-posts-text {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: 40px auto;
}

.blog-carousel {
    width: 1140px;
    margin: auto;
}

.recent-blog-content {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto !important;
}

.recent-blog .blog-post-border {
    position: relative;
    z-index: 1111;
}

.recent-blog .featured-img img {
    position: absolute;
    top: 0;
    z-index: 1;
}

.blog-content {
    padding: 20px;
    position: absolute;
    top: 245px;
    text-align: left;
    z-index: 1111;
}

.blog-title h1 {
    color: #656d78;
    font-size: 25px;
    font-weight: 400;
    padding: 10px 0;
    border-bottom: 1px solid #e1e1e1;
}

.blog-title h1:hover {
    color: #ff3c1f;
}

.blog-detail {
    display: flex;
    padding: 20px 0;
    flex-wrap: wrap;
}

.blog-author,
.blog-post-date,
.blog-comment {
    margin-right: 15px;
}

.blog-author h2,
.blog-post-date h2,
.blog-comment h2 {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #656d78;
    font-weight: 400;
}

.blog-author span,
.blog-post-date span,
.blog-comment span {
    color: #d14b3a;
    margin-right: 10px;
}

.blog-desc p {
    font-size: 14px;
    color: #4e5860;
    line-height: 1.5em;
}

.read-more button {
    color: #d14b3a;
    background: #fff;
    border: 1px solid #d14b3a;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 0 10px 0;
}

.read-more button:hover {
    background: #d14b3a;
    color: #fff;
}

.recent-blog .owl-item {
    width: 370px !important;
}

.recent-blogs .owl-nav {
    display: block !important;
    font-size: 50px !important;
}

.recent-blogs .owl-nav .owl-prev {
    float: left;
    margin-left: -30px;
    margin-top: -400px;
    color: #656d78 !important;
}

.recent-blogs .owl-nav .owl-next {
    float: right;
    margin-right: -20px;
    margin-top: -400px;
    color: #656d78 !important;
}

.recent-blogs .owl-nav .owl-prev:hover,
.recent-blogs .owl-nav .owl-next:hover {
    color: #d14b3a !important;
}

/*---------------------- 
        Portfolio
------------------------*/

.portfolio {
    text-align: center;
    margin: 80px 0;
    border-bottom: 1px solid #797d83;
}

.portfolio .inner-width {
    padding-bottom: 50px;
}

.portfolio-title {
    font-family: 'Raleway';
    font-size: 45px;
    color: #272d32;
    font-weight: 600;
}

.portfolio .border {
    max-width: 150px;
    margin: 20px auto;
    background: linear-gradient(to right, #ef402a, #4e5860);
    padding: 1px;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px auto;
}

.portfolio-box {
    width: 25%;
    box-sizing: border-box;
    position: relative;
    height: 180px;
    margin: auto;
    background: #656d78;
    overflow: hidden;
    border: 1px solid #797d83;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.8s ease;
}

.portfolio-box:hover {
    background: #52575d !important;
}

.portfolio-box:hover .portfolio-content,
.portfolio-box:hover>.hover {
    display: block;
}

.portfolio-content {
    padding: 20px 20px;
}

.portfolio-content,
.portfolio .hover {
    display: none;
}

.portfolio-content h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.portfolio-content p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.portfolio .hover {
    position: relative;
    z-index: 1111;
}

.hover img {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    bottom: -87px;
}

.portfolio-box:hover {
    background: #dcdddf;
    transition: 0.2s;
}

.portfolio-box span.icons {
    color: #656d78;
    bottom: -70px;
    right: 35px;
    position: absolute;
}

.portfolio-box span.icons .fa-search-plus {
    margin-left: 25px;
}

.portfolio-box span.icons svg:hover {
    color: #d14b3a;
    cursor: pointer;
}

.portfolio-btn button {
    color: #d14b3a;
    background: #fff;
    border: 1px solid #d14b3a;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
}

.portfolio-btn button:hover {
    background: #d14b3a;
    color: #fff;
}

/*--------------------- 
        Partners
----------------------*/

.partners {
    width: 100%;
    margin: 50px auto;
    display: flex;
}

.partner {
    width: 16.33%;
    border: 1px solid #779977;
    padding: 30px 0;
    margin-right: 10px;
    text-align: center;
}

/*------------------------ 
        Testimonial
--------------------------*/

.testimonial {
    background: url(../images/bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    /* margin: 80px 0; */
    border-bottom: 1px solid #797d83;
}

.testimonial-overlay {
    background: rgb(68, 65, 65);
    opacity: 0.9;
}

.testimonial .inner-width {
    padding-top: 40px;
    opacity: 1;
    padding-bottom: 150px;
}

.testimonial-title {
    font-family: 'Raleway';
    font-size: 45px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
}

.testimonial .border {
    max-width: 150px;
    margin: 20px auto;
    background: #fff;
    padding: 1px;
}

.testimonial-boxes {
    width: 100%;
    display: flex;
}

.testimonial-box-1 {
    width: 570px;
    height: 260px;
    font-family: 'Raleway';
    float: left;
    display: flex;
    background: url(../images/pngs/t1-bg.png);
    background-repeat: no-repeat;
    margin-top: 150px;
}

.t1-icon {
    width: 20%;
    color: #656d78;
    font-size: 70px;
    margin-top: 10px;
    padding: 0 18px;
}

.client-data {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    float: right;
    text-align: left;
    color: #fff;
    padding: 40px 0;
}

.client-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-top: 40px;
}

.client-info h1 {
    font-weight: 600;
    color: #303030;
    font-size: 24px;
}

.client-info h2 {
    font-size: 14px;
    color: #ff3c1f;
    font-weight: 500;
    margin-left: 65px;
    padding: 7px;
}

.client-review {
    color: #656d78;
    font-size: 14px;
    line-height: 1.5em;
    font-style: italic;
}

.testimonial-box-2 {
    background: url(../images/pngs/t2-bg.png);
    background-repeat: no-repeat;
    width: 570px;
    height: 350px;
    float: right;
    margin-left: 30px;
    box-sizing: border-box;
    margin-top: 60px;
    position: relative;
    font-family: 'Raleway';
}

.t2-expand,
.t2-hover,
.t2-inactive {
    font-weight: 600;
    padding: 24px;
    padding-bottom: 0;
    color: #303030;
    font-size: 14px;
}

.t2-hover,
.t2-inactive {
    background: url(../images/pngs/t2-inactive-bg.png);
    position: relative;
    height: 40px;
    border-bottom: 1px solid #dddddd;
}

.t2-hover p,
.t2-inactive p {
    position: absolute;
    bottom: 10px;
}

.t2-expand span,
.t2-hover span,
.t2-inactive span {
    margin-right: 10px;
}

.t2-desc {
    font-size: 14px;
    line-height: 1.5em;
    padding: 42px 30px;
    font-style: italic;
    color: #656d78;
}

.t2-hover p:hover,
.t2-inactive p:hover {
    color: #d14b3a;
    cursor: pointer;
}


/* -----------------
    Contact us
--------------------*/

.contactus {
    background: url(../images/pngs/contact-us-bg.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    top: -30px;
    height: 965px;
    z-index: 1;
}

.contactus .inner-width {
    padding: 180px 0;
}

.contactus-title {
    font-family: 'Raleway';
    font-size: 50px;
    color: #272d32;
    font-weight: 600;
}

.contactus .border {
    max-width: 150px;
    margin: 20px 0;
    background: linear-gradient(to right, #ef402a, #4e5860);
    padding: 1px;
}

.contactus-text {
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0 50px 0;
    font-size: 20px;
}

.contact-types {
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.contact-type {
    width: 40%;
}

.location,
.email,
.phone {
    display: flex;
    padding: 0 10px;
}

.contact-type .icon {
    color: #272d27;
    padding: 20px;
    font-size: 16px;
}

.email-id {
    padding: 20px 5px;
    color: red;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.address {
    margin-top: 3px;
    font-family: 'Open Sans', sans-serif;
    padding: 14px 10px;
    color: #272d27;
    font-size: 14px;
}

.phone-no {
    font-family: 'Open Sans', sans-serif;
    padding: 14px 10px;
    color: #272d27;
    font-size: 14px;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type="text"],
textarea {
    padding: 10px 10px 10px 5px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    border: 1px solid #272d27;
    border-top: none;
    margin: 10px auto;
}

.field {
    display: flex;
}

#name,
#email {
    width: 50%;
}

#name {
    margin-right: 10px;
}

#subject,
textarea {
    width: 100%;
}


/*----------------------
        Google Map
------------------------*/

.google-map {
    width: 100%;
    background: url(../images/map.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    top: -60px;
    font-family: 'Open Sans', sans-serif;
}

.google-map .inner-width {
    display: flex;
}

.map-marker img {
    position: relative;
    top: 195px;
    left: 500px;
}

.marker-location {
    padding: 10px 10px;
    background: #fff;
    position: relative;
    top: 120px;
    left: 690px;
}

.marker-location h1 {
    font-size: 20px;
    color: #303030;
    text-transform: uppercase;
}

.marker-location p {
    font-size: 14px;
    color: #303030;
}

/* ---------------------
        Footer
------------------------*/

.footer {
    font-family: 'Raleway';
    background: #303030;
    margin-top: -60px;
}

.to-top span a {
    float: right;
    position: relative;
    font-size: 20px;
    top: -15px;
    right: 80px;
    padding: 10px 15px;
    cursor: pointer;
    background: #57595b;
    color: #000000;
}

.to-top span:hover {
    color: #fafafa;
}

.footer .inner-width {
    display: flex;
}

.social-icons {
    width: 40%;
}

.social-icons ul {
    float: left;
    width: 100%;
    display: flex;
    padding: 50px 0;
}

.social-icons ul li {
    margin: auto 0;
    margin-right: 30px;
    /* margin-top: 43.4px; */
}

.social-icons ul li a {
    font-size: 14px;
    color: #fff;
}

.social-icons ul li a:hover {
    color: #d14b3a;
}

.footer-logo {
    width: auto;
    text-align: center;
    color: #fff;
    font-size: 32px;
    margin: 0 auto;
    font-weight: 300;
    padding: 20px 0;
}

.footer-logo .fa-folder {
    color: #ef402a;
    font-size: 36px;
}

.footer-logo .fa-inverse {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
}

.footer .copyright {
    width: 40%;
    text-align: right;
    padding: 50px 0;
}

.footer .copyright p {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}

.footer .copyright p span {
    margin-right: 5px;
}


/* ----------------------
        Responsive 
-------------------------*/
@media screen and (min-width:1500px) {
    .aboutus {
        height: 727px;
        background-size: 100% auto;
    }

    .contactus {
        height: 865px;
    }
}

@media screen and (min-width:1200px) {
    .content {
        max-width: 1140px;
    }

    .banner-carousel .owl-prev {
        left: 5px;
    }

    .banner-carousel .owl-next {
        right: 5px;
    }
}

@media screen and (max-width:1199.98px) and (min-width:992px) {
    .content {
        max-width: 960px;
    }

    /* banner */
    .banner {
        padding: 150px 0;
    }

    .banner-carousel .owl-prev {
        left: 0;
        top: 200px;
    }

    .banner-carousel .owl-next {
        right: 0;
        top: 200px;
    }

    .banner-heading h1 {
        font-size: 60px;
    }

    .banner-info p {
        font-size: 40px;
        margin: 10px 0;
    }

    .banner-btn .explore,
    .banner-btn .learn-more {
        padding: 10px 20px;
    }

    .banner-carousel .owl-dots .owl-dot {
        height: 15px !important;
        width: 15px !important;
        margin: 0 5px;
    }

    /* about us */
    .aboutus {
        top: -22px;
        height: 700px;
        background-size: unset;
    }

    .aboutus-desc button {
        margin-top: 0;
    }

    .aboutus-desc {
        width: 100%;
        display: flex;
        padding: 0;
        padding-bottom: 30px;
    }

    .aboutus-desc p {
        width: 60%;
    }

    .aboutus-desc button {
        width: 40%;
    }

    .aboutus-services {
        width: 100%;
    }

    .aboutus-service-box {
        margin: auto;
    }

    .aboutus .service-desc p {
        line-height: 1.5em;
    }

    /* paralax */
    .paralax {
        top: -44px;
    }

    /* Blog */
    .recent-blog .blog-post-border {
        width: 315px;
    }

    .recent-blog .featured-img img {
        width: 315px;
    }

    .blog-content {
        top: 200px;
        width: 315px;
    }

    .blog-title h1 {
        font-size: 20px;
        padding: 5px 0;
    }

    .blog-detail {
        padding: 5px 0;
    }

    .blog-author h2,
    .blog-post-date h2,
    .blog-comment h2 {
        font-size: 12px;
    }


    .blog-author,
    .blog-post-date,
    .blog-comment {
        margin-right: 15px;
    }

    .blog-author span,
    .blog-post-date span,
    .blog-comment span {
        margin-right: 7px;
    }

    .blog-desc p {
        font-size: 15px;
    }

    .read-more button {
        margin: 10px 0;
        font-size: 14px;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        float: unset;
        padding: 0 20px !important;
        margin: 0;
        margin-top: 10px;
    }

    /* portfolio */
    .portfolio-box {
        height: 160px;
    }

    .portfolio .hover {
        bottom: 20px;
    }

    /* testimonial */
    .client-info {
        display: unset;
    }

    .client-name {
        margin-bottom: 10px;
    }

    .client-info h2 {
        margin: 0;
        padding: 0;
    }

    .t2-hover,
    .t2-inactive {
        bottom: 41px;
    }

    /* Contact-us */
    .contactus {
        top: -22px;
        height: unset;
    }

    .contactus .inner-width {
        padding: 88px 0;
        /* margin: auto; */
    }

    /* google-map */
    .google-map {
        top: -44px;
        height: 460px;
    }

    .map-marker img {
        top: 195px;
        left: 380px;
    }

    .marker-location {
        top: 130px;
        left: 560px;
    }

    /* footer */
    .footer {
        top: -44px;
    }

    .to-top span {
        top: -5px;
        right: 50px;
        padding: 5px 12px;
    }
}

@media screen and (max-width:991.98px) and (min-width:768px) {
    .content {
        max-width: 740px;
    }

    .recent-blog-content {
        max-width: 780px;
    }

    /* header */
    label.logo {
        font-size: 30px;
    }

    ul.navigation {
        position: absolute;
        width: 100%;
        background: #3d4148;
        height: auto;
        left: -100%;
        top: 90px;
        text-align: center;
        transition: all 0.5s;
        z-index: 1111;
    }

    nav ul li {
        display: block;
        margin: 40px 0;
        line-height: unset;
    }

    nav ul li a {
        font-size: 16px;
        font-weight: 500;
    }

    #check:checked~ul {
        left: 0;
    }

    nav ul li a:hover,
    nav ul li a.active {
        border-bottom: none;
        color: #ef402a;
    }

    .checkbtn {
        display: block;
    }

    /* banner */
    .banner {
        padding-bottom: 120px;
        padding-top: 80px;
    }

    .banner-heading h1 {
        font-size: 50px;
    }

    .banner-line {
        width: 150px;
    }

    .banner-info p {
        font-size: 30px;
        margin: 10px 0;
    }

    .banner-btn .explore,
    .banner-btn .learn-more {
        padding: 10px 20px;
        font-size: 14px;
        margin-top: 10px;
    }

    .banner-carousel .owl-dots .owl-dot {
        height: 15px !important;
        width: 15px !important;
        margin: 0 5px;
    }

    .banner-carousel .owl-dots {
        bottom: 40px;
    }

    .banner-carousel .owl-prev {
        left: 0;
        top: 130px;
        font-size: 60px !important;
    }

    .banner-carousel .owl-next {
        right: 0;
        top: 130px;
        font-size: 60px !important;
    }

    /* about us */
    .aboutus {
        height: 670px;
        top: -15px;
        background-size: unset;
    }

    .aboutus .inner-width {
        padding: 65px 0;
    }

    .aboutus-desc {
        width: 100%;
        display: flex;
        padding: 0;

        padding-bottom: 20px;
        /* flex-wrap: wrap; */
    }

    .aboutus-desc p {
        float: left;
        width: 65%;
        font-size: 28px;
        word-spacing: unset;
        letter-spacing: normal;
        padding-right: 0;
    }

    .aboutus-desc button {
        max-width: 35%;
        /* width: 100%; */
        padding: 20px 10px;
        margin-right: 10px;
        float: right;
        margin: auto 0;
    }

    .aboutus-services {
        width: 100%;
    }

    .aboutus-service-box {
        width: 217px;
        height: 217px;
    }

    .service-heading {
        margin-top: 5px;
    }

    .service-heading .service-icon {
        font-size: 30px;
    }

    .service-heading .service-title h1 {
        font-size: 16px;
        padding: 0;
        margin-top: 15px;
    }

    .aboutus .service-desc p {
        font-size: 11px;
    }

    /* paralax */
    .paralax {
        top: -30px;
    }

    .paralax-title {
        font-size: 40px;
        font-weight: 500;
    }

    .paralax-quote .quote {
        font-size: 22px;
    }

    .writer {
        text-align: center !important;
    }

    /* state-excerpt */
    .state-excerpts {
        top: -30px;
    }

    .state-excerpt {
        width: 50%;
        padding: 20px;
        text-align: center;
    }

    .state-count {
        display: unset;
    }

    /* Blog */
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        float: unset;
        padding: 0 20px !important;
        margin: 0;
        margin-top: 10px;
    }

    /* portfolio */
    .portfolio-container {
        justify-content: center;
    }

    .portfolio-box {
        width: 40%;
        margin: 0;
    }

    /* partners */
    .partners {
        flex-wrap: wrap;
    }

    .partner {
        width: 33%;
        margin: 2px auto;
    }

    /* testimonial */
    .testimonial .inner-width {
        padding-top: 1px;
        padding-bottom: 80px;
    }

    .testimonial-boxes {
        display: block;
        margin-top: 50px;
    }

    .testimonial-box-1,
    .testimonial-box-2 {
        margin: 0 70px;
        float: unset;
        margin-top: 20px;
    }

    .client-info {
        display: unset;
    }

    .client-name {
        margin-bottom: 10px;
    }

    .client-info h2 {
        margin: 0;
        padding: 0;
    }

    /* Contact-us */
    .contactus {
        top: -15px;
        height: unset;
    }

    .contactus .inner-width {
        padding: 80px 0;
    }

    /* google-map */
    .google-map {
        top: -30px;
        height: 350px;
    }

    .map-marker img {
        top: 155px;
        left: 290px;
        width: 35px;
    }

    .marker-location {
        top: 120px;
        left: 450px;
    }

    .marker-location h1 {
        font-size: 15px;
    }

    .marker-location p {
        font-size: 12px;
    }

    /* footer */
    .footer {
        margin-top: -30px;
    }

    .to-top span {
        right: 40px;
        padding: 5px 12px;
    }
}

@media screen and (max-width:767.98px) and (min-width:576px) {
    .content {
        max-width: 540px;
    }

    .recent-blog-content {
        max-width: 400px;
    }

    /* Header */
    label.logo {
        font-size: 30px;
    }

    ul.navigation {
        position: absolute;
        width: 100%;
        background: #3d4148;
        height: auto;
        left: -100%;
        top: 90px;
        text-align: center;
        transition: all 0.5s;
        z-index: 1111;
    }

    nav ul li {
        display: block;
        margin: 40px 0;
        line-height: unset;
    }

    nav ul li a {
        font-size: 16px;
        font-weight: 500;
    }

    #check:checked~ul {
        left: 0;
    }

    nav ul li a:hover,
    nav ul li a.active {
        border-bottom: none;
        color: #ef402a;
    }

    .checkbtn {
        display: block;
    }

    /* banner */
    .banner {
        padding-bottom: 120px;
        padding-top: 80px;
    }

    .banner-heading h1 {
        font-size: 50px;
    }

    .banner-line {
        width: 150px;
    }

    .banner-info p {
        font-size: 30px;
        margin: 10px 0;
    }

    .banner-btn .explore,
    .banner-btn .learn-more {
        padding: 10px 20px;
        font-size: 14px;
        margin-top: 10px;
    }

    .banner-carousel .owl-dots .owl-dot {
        height: 15px !important;
        width: 15px !important;
        margin: 0 5px;
    }

    .banner-carousel .owl-dots {
        bottom: 40px;
    }

    .banner-carousel .owl-prev {
        left: 0;
        top: 130px;
        font-size: 60px !important;
    }

    .banner-carousel .owl-next {
        right: 0;
        top: 130px;
        font-size: 60px !important;
    }

    /* about us */
    .aboutus {
        background-size: auto 100%;
        top: -10px;
    }

    .aboutus-title {
        text-align: center;
    }

    .aboutus .border {
        max-width: 150px;
        margin: 10px auto;
    }

    .aboutus .inner-width {
        padding: 40px 0;
    }

    .aboutus .aboutus-text {
        margin-bottom: 20px;
        text-align: center;
    }

    .aboutus-desc {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
    }

    .aboutus-desc p {
        float: left;
        padding: 0;
        padding-bottom: 10px;
        font-size: 28px;
    }

    .aboutus-desc button {
        width: 100%;
        float: right;
        margin-top: 0;
    }

    .aboutus-services {
        width: 100%;
        display: block;
    }

    .aboutus-service-box {
        width: 300px;
        height: 300px;
        margin: 10px auto;
    }

    .service-heading {
        margin-top: 20px;
    }

    .aboutus .service-desc p {
        font-size: 14px;
        padding: 10px;
    }

    /* paralax */
    .paralax {
        top: -20px;
        padding: 50px 0;
    }

    .paralax-title {
        font-size: 40px;
        font-weight: 500;
    }

    .paralax .paralax-text {
        font-size: 16px;
    }

    .paralax-quote .quote {
        font-size: 22px;
    }

    .writer {
        text-align: center !important;
    }

    /* state-excerpt */
    .state-excerpts {
        top: -20px;
    }

    .state-excerpt {
        width: 50%;
        padding: 20px;
        text-align: center;
    }

    .state-count {
        display: unset;
    }

    /* Blog */
    .recent-blogs .owl-nav button.owl-next,
    .recent-blogs .owl-nav button.owl-prev {
        float: unset;
        padding: 0 20px !important;
        margin: 0;
        margin-top: 10px;
    }

    /* portfolio */
    .portfolio {
        padding-top: 50px;
    }

    .portfolio-container {
        justify-content: center;
    }

    .portfolio-box {
        width: 50%;
        height: 170px;
        /* margin: 0; */
    }

    .portfolio .hover {
        bottom: 10px;
    }

    /* partners */
    .partners {
        flex-wrap: wrap;
    }

    .partner {
        width: 49%;
        margin: 2px auto;
    }

    /* testimonial */
    .testimonial .inner-width {
        padding-top: 1px;
        padding-bottom: 80px;
    }

    .testimonial-title {
        font-size: 44px;
    }

    .testimonial-boxes {
        display: block;
        margin-top: 50px;
    }

    .testimonial-box-1,
    .testimonial-box-2 {
        margin: 0 auto;
        float: unset;
        width: 500px;
        margin-top: 20px;
    }

    .t2-hover,
    .t2-inactive {
        bottom: 20px;
    }

    .client-info {
        display: unset;
    }

    .client-name {
        margin-bottom: 10px;
    }

    .client-info h2 {
        margin: 0;
        padding: 0;
    }

    /* Contact-us */
    .contactus {
        top: -15px;
        height: unset;
    }

    .contactus-title {
        text-align: center;
    }

    .contactus .border {
        margin: 15px auto;
    }

    .contactus-text {
        margin: 20px 0;
        padding: 0 25px;
    }

    .contactus .inner-width {
        padding: 50px 0;
    }

    .contact-types {
        display: unset;
    }

    .contact-type {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
        border: 1px solid #4e5860;
        box-shadow: inset;
    }

    .contact-form {
        width: 90%;
    }

    /* google-map */
    .google-map {
        top: -30px;
        height: 330px;
    }

    .map-marker img {
        top: 155px;
        left: 175px;
        width: 25px;
    }

    .marker-location {
        top: 115px;
        left: 320px;
    }

    .marker-location h1 {
        font-size: 15px;
    }

    .marker-location p {
        font-size: 12px;
    }

    /* footer */
    .footer {
        margin-top: -30px;
    }

    .to-top span {
        right: 40px;
        padding: 5px 11px;
    }

    .footer .inner-width {
        display: unset;
        text-align: center;
    }

    .social-icons {
        width: 100%;
        text-align: center;
    }

    .social-icons ul {
        float: unset;
        justify-content: center;
        padding: 20px;
    }

    .footer-logo {
        display: none;
    }

    .footer .copyright {
        width: 100%;
        float: unset;
        text-align: center;
        padding: 0;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:575.98px) and (min-width:411px) {
    .content {
        max-width: 400px;
    }

    .recent-blog-content {
        max-width: 400px;
    }

    /* Header */
    label.logo {
        font-size: 30px;
    }

    ul.navigation {
        position: absolute;
        width: 100%;
        background: #3d4148;
        height: auto;
        left: -100%;
        top: 90px;
        text-align: center;
        transition: all 0.5s;
        z-index: 1111;
    }

    nav ul li {
        display: block;
        margin: 45px 0;
        line-height: unset;
    }

    nav ul li a {
        font-size: 16px;
        font-weight: 500;
    }

    #check:checked~ul {
        left: 0;
    }

    nav ul li a:hover,
    nav ul li a.active {
        border-bottom: none;
        color: #ef402a;
    }

    .checkbtn {
        display: block;
    }

    /* banner */
    .banner {
        padding-bottom: 120px;
        padding-top: 80px;
    }

    .banner-heading h1 {
        font-size: 50px;
    }

    .banner .content {
        text-align: center;
    }

    .banner-line {
        width: 150px;
        margin: 10px auto;
    }

    .banner-info p {
        font-size: 30px;
        margin: 10px 0;
    }

    .banner-btn .explore,
    .banner-btn .learn-more {
        padding: 10px 20px;
        font-size: 14px;
        margin-top: 10px;
        width: 150px;
    }

    .banner-btn .explore {
        margin-right: 10px;
    }

    .banner-carousel .owl-dots .owl-dot {
        height: 15px !important;
        width: 15px !important;
        margin: 0 5px;
    }

    .banner-carousel .owl-dots {
        bottom: 40px;
    }

    .banner-carousel .owl-prev {
        left: 0;
        top: 130px;
        font-size: 60px !important;
    }

    .banner-carousel .owl-next {
        right: 0;
        top: 130px;
        font-size: 60px !important;
    }

    /* about us */
    .aboutus {
        background-size: auto 100%;
        top: -10px;
    }

    .aboutus .inner-width {
        padding: 30px 0;
    }

    .aboutus-title,
    .aboutus .border {
        text-align: center;
        margin: 0 auto;
    }

    .aboutus .aboutus-text {
        margin-bottom: 20px;
        font-size: 15px;
    }

    .aboutus-desc {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
    }

    .aboutus-desc p {
        float: left;
        padding: 0;
        padding-bottom: 10px;
        font-size: 22px;
    }

    .aboutus-desc button {
        width: 100%;
        float: right;
        margin-top: 0;
        padding: 10px 20px;
    }

    .aboutus-services {
        width: 100%;
        display: block;
    }

    .aboutus-service-box {
        width: 300px;
        height: 300px;
        margin: 10px auto;
    }

    .service-heading {
        margin-top: 20px;
        padding-left: 10px;
    }

    .aboutus .service-desc p {
        font-size: 14px;
        padding: 10px;
    }

    /* paralax */
    .paralax {
        top: -20px;
        padding: 50px 0;
    }

    .paralax .paralax-title {
        font-size: 40px;
        font-weight: 500;
    }

    .paralax .paralax-text {
        margin-bottom: 20px;
    }

    .paralax-quote .quote {
        font-size: 18px;
    }

    .writer {
        text-align: center !important;
    }

    /* state-excerpt */
    .state-excerpts {
        top: -20px;
    }

    .state-excerpt {
        width: 100%;
        padding: 25px;
        text-align: center;
    }

    .state-count {
        display: unset;
    }


    /* Blog */

    .blog-posts .blog-posts-text {
        width: 100%;
    }

    .recent-blogs .owl-nav button.owl-next,
    .recent-blogs .owl-nav button.owl-prev {
        float: unset;
        padding: 0 20px !important;
        margin: 0;
        margin-top: 10px;
    }

    /* portfolio */
    .portfolio {
        margin: 0;
    }

    .portfolio-container {
        justify-content: center;
    }

    .portfolio-box {
        width: 80%;
    }

    /* partners */
    .partners {
        flex-wrap: wrap;
    }

    .partner {
        width: 49%;
        margin: 2px auto;
    }

    /* testimonial */
    .testimonial .inner-width {
        padding-top: 1px;
        padding-bottom: 80px;
    }

    .testimonial-title {
        font-size: 42px;
    }

    .testimonial-boxes {
        display: block;
        margin-top: 50px;
    }

    .testimonial-box-1,
    .testimonial-box-2 {
        margin: 0 auto;
        float: unset;
        width: 372px;
        margin-top: 20px;
    }

    .t1-icon {
        font-size: 60px;
    }

    .t2-expand {
        padding-top: 20px;
    }

    .t2-hover,
    .t2-inactive {
        bottom: 20px;
    }

    .t2-desc {
        padding: 23px 18px;
    }

    .client-data {
        width: 100%;
    }

    .client-info {
        display: unset;
    }

    .client-name {
        margin-bottom: 10px;
    }

    .client-info h2 {
        margin: 0;
        padding: 0;
    }

    /* Contact-us */
    .contactus {
        top: -15px;
        height: unset;
    }

    .contactus-title {
        font-size: 37px;
        text-align: center;
    }

    .contactus .border {
        margin: 15px auto;
    }

    .contactus-text {
        margin: 20px 0;
        padding: 0 25px;
    }

    .contactus .inner-width {
        padding: 50px 0;
    }

    .contact-types {
        display: unset;
    }

    .contact-type {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
        border: 1px solid #4e5860;
        box-shadow: inset;
    }

    .contact-form {
        width: 90%;
    }

    /* google-map */
    .google-map {
        top: -30px;
        height: 270px;
    }

    .map-marker img {
        top: 130px;
        left: 115px;
        width: 25px;
    }

    .marker-location {
        top: 90px;
        left: 240px;
    }

    .marker-location h1 {
        font-size: 13px;
    }

    .marker-location p {
        font-size: 10px;
    }

    /* footer */
    .to-top span {
        right: 30px;
        padding: 5px 10px;
    }

    .footer {
        margin-top: -30px;
    }

    .footer .inner-width {
        display: unset;
        text-align: center;
    }

    .social-icons {
        width: 100%;
        text-align: center;
    }

    .social-icons ul {
        float: unset;
        justify-content: center;
        padding: 20px;
    }

    .footer-logo {
        display: none;
    }

    .footer .copyright {
        width: 100%;
        float: unset;
        text-align: center;
        padding: 0;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:410.98px) and (min-width:320px) {
    .content {
        max-width: 310px;
    }

    /* Header */
    label.logo {
        font-size: 30px;
    }

    ul.navigation {
        position: absolute;
        width: 100%;
        background: #3d4148;
        height: auto;
        left: -100%;
        top: 90px;
        text-align: center;
        transition: all 0.5s;
        z-index: 1111;
    }

    nav ul li {
        display: block;
        margin: 56px 0;
        line-height: 20px;
    }

    nav ul li a {
        font-size: 16px;
        font-weight: 500;
    }

    #check:checked~ul {
        left: 0;
    }

    nav ul li a:hover,
    nav ul li a.active {
        border-bottom: none;
        color: #ef402a;
    }

    .checkbtn {
        display: block;
    }

    /* banner */
    .banner {
        padding-bottom: 120px;
        padding-top: 80px;
    }

    .banner-heading h1 {
        font-size: 50px;
    }

    .banner .content {
        text-align: center;
    }

    .banner-line {
        width: 150px;
        margin: 10px auto;
    }

    .banner-info p {
        font-size: 30px;
        margin: 10px 0;
    }

    .banner-btn .explore,
    .banner-btn .learn-more {
        padding: 10px 20px;
        font-size: 14px;
        margin-top: 10px;
        width: 150px;
    }

    .banner-btn .explore {
        margin-right: 0;
    }

    .banner-carousel .owl-dots .owl-dot {
        height: 12px !important;
        width: 12px !important;
        margin: 0 5px;
    }

    .banner-carousel .owl-dots {
        bottom: 40px;
    }

    .banner-carousel .owl-prev {
        left: 0;
        top: 130px;
        font-size: 60px !important;
    }

    .banner-carousel .owl-next {
        right: 0;
        top: 130px;
        font-size: 60px !important;
    }

    /* about us */
    .aboutus {
        background-size: auto 100%;
        top: -10px;
    }

    .aboutus .inner-width {
        padding: 30px 0;
    }

    .aboutus .border {
        max-width: 100px;
        margin: 10px auto;
    }

    .aboutus-title {
        text-align: center;
        margin: 0 auto;
    }

    .aboutus-title {
        font-size: 40px;
    }

    .aboutus .aboutus-text {
        margin-bottom: 20px;
        font-size: 15px;
    }

    .aboutus-desc {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
    }

    .aboutus-desc p {
        float: left;
        padding: 0;
        padding-bottom: 10px;
        font-size: 22px;
    }

    .aboutus-desc button {
        width: 100%;
        float: right;
        margin-top: 0;
        padding: 10px 20px;
    }

    .aboutus-services {
        width: 100%;
        display: block;
    }

    .aboutus-service-box {
        width: 270px;
        height: 270px;
        margin: 10px auto;
    }

    /* paralax */
    .paralax {
        top: -20px;
        padding: 40px 0;
    }

    .paralax .paralax-title {
        font-size: 39px;
        font-weight: 500;
    }

    .paralax-quote .quote {
        font-size: 18px;
    }

    .writer {
        text-align: center !important;
    }

    /* state-excerpt */
    .state-excerpts {
        top: -20px;
    }

    .state-excerpt {
        width: 100%;
        padding: 30px 0;
        text-align: center;
    }

    .state-count {
        display: unset;
    }

    /* Blog */

    .recent-blog {
        margin-top: 10px;
    }

    .blog-posts-title {
        font-size: 34px;
    }

    .recent-blog-content {
        max-width: 350px;
    }

    .blog-posts .blog-posts-text {
        width: 100%;
        font-size: 13px;
    }

    .recent-blog .blog-post-border {
        width: 290px;
    }

    .recent-blog .featured-img img {
        width: 290px;
    }

    .blog-content {
        top: 180px;
        width: 290px;
    }

    .blog-title h1 {
        font-size: 20px;
        padding: 5px 0;
    }

    .blog-detail {
        padding: 5px 0;
    }

    .blog-author h2,
    .blog-post-date h2,
    .blog-comment h2 {
        font-size: 11px;
    }

    .blog-author,
    .blog-post-date,
    .blog-comment {
        margin-right: 10px;
    }

    .blog-author span,
    .blog-post-date span,
    .blog-comment span {
        margin-right: 5px;
    }

    .blog-desc p {
        font-size: 14px;
    }

    .read-more button {
        margin: 10px 0;
        font-size: 12px;
        padding: 5px 10px;
    }

    .recent-blogs .owl-nav {
        /* float: unset;
        padding: 0 20px !important;
        margin: 0;
        margin-top: 10px; */
        display: none !important;
    }

    /* portfolio */
    .portfolio {
        /* margin: 0; */
        padding-top: 40px;
        border-top: 1px solid #797d83;
    }

    .portfolio-title {
        font-size: 38px;
    }

    .portfolio-container {
        justify-content: center;
    }

    .portfolio-box {
        width: 80%;
        height: 160px;
    }

    .portfolio .hover {
        bottom: 20px;
    }

    /* partners */
    .partners {
        display: block;
    }

    .partner {
        padding: 10;
        width: 80%;
        margin: 20px auto;
    }

    /* testimonial */
    .testimonial .inner-width {
        padding-top: 1px;
        padding-bottom: 80px;
    }

    .testimonial-title {
        font-size: 42px;
    }

    .testimonial-boxes {
        display: block;
        margin-top: 50px;
    }

    .testimonial-box-1,
    .testimonial-box-2 {
        margin: 0 auto;
        float: unset;
        display: block;
        width: 290px;
        margin-top: 20px;
    }

    .t1-icon {
        font-size: 60px;
        width: 100%;
        padding-top: 10px;
    }

    .t2-expand {
        padding-top: 20px;
    }

    .t2-hover,
    .t2-inactive {
        bottom: 20px;
    }

    .t2-desc {
        padding: 18px 17px;
        font-size: 13px;
        line-height: 1.3em;
    }

    .client-data {
        display: unset;
        padding: 10px 25px;
        width: 100%;
    }

    .client-info {
        display: unset;
    }

    .client-info h2 {
        margin: 0;
        padding: 5px 0;
    }

    /* Contact-us */
    .contactus {
        top: -10px;
        height: unset;
    }

    .contactus-title {
        font-size: 35px;
        text-align: center;
    }

    .contactus .border {
        margin: 15px auto;
    }

    .contactus-text {
        margin: 20px 0;
        padding: 0 22px;
        font-size: 14px;
    }

    .contactus .inner-width {
        padding: 50px 0;
    }

    .contact-type .icon {
        font-size: 14px;
        padding: 23px 12px;
    }

    .contact-types {
        display: unset;
    }

    .contact-type {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 20px;
        border: 1px solid #4e5860;
        box-shadow: inset;
    }

    .contact-form {
        width: 85%;
    }

    input[type="text"],
    textarea {
        padding: 5px;
    }

    /* google-map */
    .google-map {
        top: -20px;
        height: 270px;
    }

    .map-marker img {
        top: 115px;
        left: 60px;
        width: 25px;
    }

    .marker-location {
        top: 80px;
        left: 190px;
    }

    .marker-location h1 {
        font-size: 13px;
    }

    .marker-location p {
        font-size: 10px;
    }

    /* footer */
    .footer {
        margin-top: -20px;
    }

    .to-top span {
        right: 30px;
        padding: 5px 10px;
    }

    .footer .inner-width {
        display: unset;
        text-align: center;
    }

    .social-icons {
        width: 100%;
        text-align: center;
    }

    .social-icons ul {
        float: unset;
        justify-content: center;
        padding: 20px;
    }

    .social-icons ul li {
        margin-right: 20px;
    }

    .footer-logo {
        display: none;
    }

    .footer .copyright {
        width: 100%;
        float: unset;
        text-align: center;
        padding: 0;
        padding-bottom: 20px;
    }
}